@import "./../../../app/breakpoints.scss";

.wrapper {
  background-color: var(--color-gray-3);
  display: flex;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: var(--box-shadow);
  flex-direction: column;

  @include rwd($tablet) {
    flex-direction: row;
  }
}

.image {
  // max-width: 300px;
  width: 100%;
  object-fit: cover;

  @include rwd($tablet) {
    max-width: 300px;
    flex-direction: row;
    border-right: var(--border);
  }
}

.info {
  margin: 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.container {
  position: relative;
}

.favourite {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
