.wrapper {
  background-color: var(--color-gray-3);
  display: flex;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: var(--box-shadow);
}

.image {
  max-width: 300px;
  border-right: var(--border);
  object-fit: cover;
}

.info {
  margin: 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.favourite {
  display: flex;
  width: 100%;
  height: 30px;
  background-color: var(--color-gray-1);
  border-radius: 5px;
}
